streamlit==1.31.1
plotly==5.18.0
pandas==1.5.3
numpy==1.23.5
requests==2.31.0
torch==1.13.1
torchvision==0.14.1
transformers==4.8.1
streamlit-chat==0.1.1
python-dotenv==1.0.0
scikit-learn==1.0.2
protobuf==3.20.3
tensorflow==2.12.0
keras==2.12.0
sentencepiece==0.1.97
tokenizers==0.13.3
tqdm==4.65.0
boto3==1.26.137
emoji==2.2.0
streamlit-option-menu==0.3.6
git+https://github.com/SKTBrain/KoBERT.git@master
