scikit-learn

torch==2.1.1
torchvision
torchaudio
pytorch-lightning

transformers
pandas
numpy
pyyaml
emoji

optuna
mlflow

ruff
black
pytest

setuptools
wheel
tensorboardX

streamlit
seaborn
plotly

slack-sdk
python-dotenv
streamlit-chat

transformers
pandas
numpy