scikit-learn

torch
torchvision
torchaudio
pytorch-lightning

transformers
pandas
numpy
pyyaml
emoji

optuna
mlflow>=2.0.0

ruff
black
pytest

setuptools
wheel
tensorboardX

streamlit
seaborn
plotly

slack-sdk
python-dotenv
streamlit-chat

transformers
pandas
numpy